# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/PhotonMapping

# main repository
darcs / http://openengine.dk/code/openengine
darcs-dev / fh.daimi.au.dk:/users/cgd/code/openengine

# project repository
# (uncomment the following two lines after uploading your project)
darcs /projects/PhotonMapping http://openengine.dk/code/projects/PhotonMapping
darcs-dev /projects/PhotonMapping fh.daimi.au.dk:/users/cgd/code/projects/PhotonMapping

# dist dependencies
dist /extensions/PhotonMapping/PhotonMapping.dist http://www.openengine.dk/code/extensions/PhotonMapping/PhotonMapping.dist
dist /extensions/Assimp/Assimp.dist               http://www.openengine.dk/code/extensions/Assimp/Assimp.dist

# required extensions
darcs /extensions/HUD                    http://openengine.dk/code/extensions/HUD
darcs /extensions/SDL                    http://openengine.dk/code/extensions/SDL
darcs /extensions/FreeImage       	 http://openengine.dk/code/extensions/FreeImage
darcs /extensions/CairoResource          http://openengine.dk/code/extensions/CairoResource
darcs /extensions/OpenGLRenderer         http://openengine.dk/code/extensions/OpenGLRenderer
darcs /extensions/GenericHandlers        http://openengine.dk/code/extensions/GenericHandlers
darcs /extensions/MeshUtils        	 http://openengine.dk/code/extensions/MeshUtils

darcs-dev /extensions/SDL                    fh.daimi.au.dk:/users/cgd/code/extensions/SDL
darcs-dev /extensions/FreeImage  	     fh.daimi.au.dk:/users/cgd/code/extensions/FreeImage
darcs-dev /extensions/CairoResource          fh.daimi.au.dk:/users/cgd/code/extensions/CairoResource
darcs-dev /extensions/OpenGLRenderer         fh.daimi.au.dk:/users/cgd/code/extensions/OpenGLRenderer
darcs-dev /extensions/GenericHandlers        fh.daimi.au.dk:/users/cgd/code/extensions/GenericHandlers
darcs-dev /extensions/MeshUtils        	     fh.daimi.au.dk:/users/cgd/code/extensions/MeshUtils

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip   
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries


# linux libraries

# project data

any /projects/PhotonMapping/data/       http://openengine.dk/data/models/stanford-dragon.tar.gz
any /projects/PhotonMapping/data/       http://openengine.dk/data/models/stanford-bunny.tar.gz
any /projects/PhotonMapping/data/       http://openengine.dk/data/models/sponza.tar.gz