# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/PhotonMapping

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/RayTracing https://github.com/OpenEngineDK/projects-RayTracing.git
git-dev /projects/RayTracing git@github.com:OpenEngineDK/projects-RayTracing.git

# dist dependencies
dist /extensions/PhotonMapping/PhotonMapping.dist http://www.openengine.dk/code/extensions/PhotonMapping/PhotonMapping.dist
dist /extensions/Assimp/Assimp.dist               http://www.openengine.dk/code/extensions/Assimp/Assimp.dist
dist /extensions/InspectionBar/InspectionBar.dist       http://www.openengine.dk/code/extensions/InspectionBar/InspectionBar.dist

# required extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/FreeImage       	 https://github.com/OpenEngineDK/extensions-FreeImage.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/GenericHandlers        https://github.com/OpenEngineDK/extensions-GenericHandlers.git
git /extensions/MeshUtils        	 https://github.com/OpenEngineDK/extensions-MeshUtils.git

git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/FreeImage  	     git@github.com:OpenEngineDK/extensions-FreeImage.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/GenericHandlers        git@github.com:OpenEngineDK/extensions-GenericHandlers.git
git-dev /extensions/MeshUtils        	     git@github.com:OpenEngineDK/extensions-MeshUtils.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/cairo-win32.zip   
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip

# darwin libraries


# linux libraries

# project data

any /resources/models/       http://openengine.dk/data/models/stanford-dragon.tar.gz
any /resources/models/       http://openengine.dk/data/models/stanford-bunny.tar.gz
any /resources/models/       http://openengine.dk/data/models/sponza.tar.gz